@theme inline {
  --color-tokyonight-fire-bg: oklch(from #1b1310 l c h);
  --color-tokyonight-fire-bg-dark: oklch(from #150e0c l c h);
  --color-tokyonight-fire-bg-dark1: oklch(from #100a08 l c h);
  --color-tokyonight-fire-bg-float: var(--color-tokyonight-fire-bg-dark);
  --color-tokyonight-fire-bg-highlight: oklch(from #30201b l c h);
  --color-tokyonight-fire-bg-popup: var(--color-tokyonight-fire-bg-dark);
  --color-tokyonight-fire-bg-search: var(--color-tokyonight-fire-blue0);
  --color-tokyonight-fire-bg-sidebar: var(--color-tokyonight-fire-bg-dark);
  --color-tokyonight-fire-bg-statusline: var(--color-tokyonight-fire-bg-dark);
  --color-tokyonight-fire-bg-visual: oklch(from #664536 l c h);
  --color-tokyonight-fire-black: oklch(from #160f0d l c h);
  --color-tokyonight-fire-black-bright: oklch(from #442821 l c h);
  --color-tokyonight-fire-blue: oklch(from #fceed2 l c h);
  --color-tokyonight-fire-blue-bright: oklch(from #fffdfb l c h);
  --color-tokyonight-fire-blue0: oklch(from #d69170 l c h);
  --color-tokyonight-fire-blue1: oklch(from #fdb594 l c h);
  --color-tokyonight-fire-blue2: oklch(from #fa9c3a l c h);
  --color-tokyonight-fire-blue5: oklch(from #fed576 l c h);
  --color-tokyonight-fire-blue6: oklch(from #f57080 l c h);
  --color-tokyonight-fire-blue7: oklch(from #442821 l c h);
  --color-tokyonight-fire-border: var(--color-tokyonight-fire-black);
  --color-tokyonight-fire-border-highlight: oklch(from #d0957a l c h);
  --color-tokyonight-fire-comment: oklch(from #b08379 l c h);
  --color-tokyonight-fire-cyan: oklch(from #fdaf8b l c h);
  --color-tokyonight-fire-cyan-bright: oklch(from #ffc1a8 l c h);
  --color-tokyonight-fire-dark3: oklch(from #725248 l c h);
  --color-tokyonight-fire-dark5: oklch(from #a38176 l c h);
  --color-tokyonight-fire-diff-add: oklch(from #4a3328 l c h);
  --color-tokyonight-fire-diff-change: oklch(from #211613 l c h);
  --color-tokyonight-fire-diff-delete: oklch(from #4c2321 l c h);
  --color-tokyonight-fire-diff-text: var(--color-tokyonight-fire-blue7);
  --color-tokyonight-fire-error: var(--color-tokyonight-fire-red1);
  --color-tokyonight-fire-fg: oklch(from #fff4ee l c h);
  --color-tokyonight-fire-fg-dark: oklch(from #dfbdba l c h);
  --color-tokyonight-fire-fg-float: var(--color-tokyonight-fire-fg);
  --color-tokyonight-fire-fg-gutter: oklch(from #3e2f2e l c h);
  --color-tokyonight-fire-fg-sidebar: var(--color-tokyonight-fire-fg-dark);
  --color-tokyonight-fire-git-add: oklch(from #f89068 l c h);
  --color-tokyonight-fire-git-change: oklch(from #fa9c3a l c h);
  --color-tokyonight-fire-git-delete: oklch(from #ff6e6c l c h);
  --color-tokyonight-fire-git-ignore: var(--color-tokyonight-fire-dark3);
  --color-tokyonight-fire-green: oklch(from #f89068 l c h);
  --color-tokyonight-fire-green-bright: oklch(from #ffa181 l c h);
  --color-tokyonight-fire-green1: oklch(from #fa9c3a l c h);
  --color-tokyonight-fire-green2: oklch(from #d69170 l c h);
  --color-tokyonight-fire-hint: var(--color-tokyonight-fire-teal);
  --color-tokyonight-fire-info: var(--color-tokyonight-fire-blue2);
  --color-tokyonight-fire-magenta: oklch(from #f56d88 l c h);
  --color-tokyonight-fire-magenta-bright: oklch(from #ff7f97 l c h);
  --color-tokyonight-fire-magenta2: oklch(from #ee506a l c h);
  --color-tokyonight-fire-orange: oklch(from #fa933a l c h);
  --color-tokyonight-fire-purple: oklch(from #f56d88 l c h);
  --color-tokyonight-fire-rainbow1: var(--color-tokyonight-fire-blue);
  --color-tokyonight-fire-rainbow2: var(--color-tokyonight-fire-yellow);
  --color-tokyonight-fire-rainbow3: var(--color-tokyonight-fire-green);
  --color-tokyonight-fire-rainbow4: var(--color-tokyonight-fire-teal);
  --color-tokyonight-fire-rainbow5: var(--color-tokyonight-fire-magenta);
  --color-tokyonight-fire-rainbow6: var(--color-tokyonight-fire-purple);
  --color-tokyonight-fire-rainbow7: var(--color-tokyonight-fire-orange);
  --color-tokyonight-fire-rainbow8: var(--color-tokyonight-fire-red);
  --color-tokyonight-fire-red: oklch(from #ff6e6c l c h);
  --color-tokyonight-fire-red-bright: oklch(from #ff8685 l c h);
  --color-tokyonight-fire-red1: oklch(from #de5152 l c h);
  --color-tokyonight-fire-teal: oklch(from #f89068 l c h);
  --color-tokyonight-fire-todo: var(--color-tokyonight-fire-blue);
  --color-tokyonight-fire-warning: var(--color-tokyonight-fire-yellow);
  --color-tokyonight-fire-yellow: oklch(from #fede6d l c h);
  --color-tokyonight-fire-yellow-bright: oklch(from #ffedbd l c h);
}