// Tokyonight Zellij Colors
// Add this file to your `CONFIG_DIR/themes` directory as described here:
// https://zellij.dev/documentation/themes#getting-zellij-to-pick-up-the-theme

themes {
    tokyonight_fire {
        fg "#fff4ee"
        bg "#30201b"
        // Black should match the terminal background color
        // This ensures the top and bottom bars are transparent
        black "#1b1310"
        red "#ff6e6c"
        green "#f89068"
        yellow "#fede6d"
        blue "#fceed2"
        magenta "#f56d88"
        cyan "#fdaf8b"
        white "#dfbdba"
        orange "#fa933a"
    }
}

