(
  selected_tab: Some("#f56d88"),
  command_fg: Some("#b08379"),
  selection_bg: Some("#30201b"),
  selection_fg: Some("#fdaf8b"),
  cmdbar_bg: Some("#1b1310"),
  cmdbar_extra_lines_bg: Some("#1b1310"),
  disabled_fg: Some("#b08379"),
  diff_line_add: Some("#f89068"),
  diff_line_delete: Some("#ff6e6c"),
  diff_file_added: Some("#fa9c3a"),
  diff_file_removed: Some("#de5152"),
  diff_file_moved: Some("#ee506a"),
  diff_file_modified: Some("#fede6d"),
  commit_hash: Some("#f56d88"),
  commit_time: Some("#f89068"),
  commit_author: Some("#f89068"),
  danger_fg: Some("#ff6e6c"),
  push_gauge_bg: Some("#1b1310"),
  push_gauge_fg: Some("#fff4ee"),
  tag_fg: Some("#ee506a"),
  branch_fg: Some("#fede6d")
)
