.theme-light,
.theme-dark {
  --header-primary: #fff4ee;
  --header-secondary: #dfbdba;
  --text-normal: #fff4ee;
  --text-muted: #dfbdba;
  --text-link: #fceed2;
  --text-link-low-saturation: #fed576;
  --text-positive: #f89068;
  --text-warning: #fede6d;
  --text-danger: #ff6e6c;
  --text-brand: #fceed2;
  --background-primary: #1b1310;
  --bg-base-primary: #1b1310;
  --background-secondary: #150e0c;
  --background-secondary-alt: #150e0c;
  --background-tertiary: #100a08;
  --background-accent: #d69170;
  --background-floating: #150e0c;
  --background-nested-floating: #150e0c;
  --background-mobile-primary: #1b1310;
  --background-mobile-secondary: #150e0c;
  --bg-base-secondary: #150e0c;
  --bg-surface-raised: #150e0c;
  --home-background: #1b1310;
  --chat-background: #1b1310;
  --chat-border: #30201b;
  --chat-input-container-background: #1b1310;
  --background-modifier-hover: #72524826;
  --background-modifier-selected: #72524832;
  --background-modifier-accent: #72524842;
  --background-modifier-active: #7252482B;
  --info-positive-background: #f8906826;
  --info-positive-foreground: #f89068;
  --info-positive-text: #fff4ee;
  --brand-500: #d69170;
  --brand-560: #fceed2;
  --info-warning-background: #fede6d26;
  --info-warning-foreground: #fede6d;
  --info-warning-text: #fff4ee;
  --info-danger-background:#ff6e6c26;
  --info-danger-foreground: #ff6e6c;
  --info-danger-text: #fff4ee;
  --info-help-background: #fed57626;
  --info-help-foreground: #fa9c3a;
  --info-help-text: #fff4ee;
  --status-positive-background: #f89068;
  --status-positive-text: #1b1310;
  --status-warning-background: #fede6d;
  --status-warning-text: #1b1310;
  --status-danger-background: #ff6e6c;
  --status-danger-text: #1b1310;
  --status-danger: #ff6e6c;
  --status-positive: #f89068;
  --status-warning: #fede6d;
  --status-yellow-400: #fede6d;
  --status-green-600: #f89068;
  --primary-dark-600: #1b1310;
  --status-yellow-560: #fede6d;
  --status-red-500: #ff6e6c;
  --status-red-530: #ff6e6c;
  --status-yellow-500: #fede6d;
  --black-500: #30201b;
  --green-360: #f89068;
  --yellow-360: #fede6d;
  --yellow-300: #fede6d;
  --red-400: #ff6e6c;
  --primary-100: #a38176;
  --primary-300: #a38176;
  --primary-400: #a38176;
  --primary-dark-700: #30201b;
  --primary-800: #30201b;
  --status-green-560: #f89068;
  --white-400: #fff4ee;
  --white-500: #fff4ee;
  --guild-boosting-pink: #f56d88;
  --premium-perk-yellow: #fede6d;
  --premium-perk-purple: #f56d88;
  --premium-perk-dark-blue: #fceed2;
  --premium-perk-light-blue: #fdb594;
  --premium-perk-blue: #fceed2;
  --premium-perk-green: #f89068;
  --premium-perk-pink: ${pink};
  --premium-perk-orange: #fa933a;
  --status-green-400: #f89068;
  --button-danger-background: #de5152;
  --button-danger-background-hover: #ff6e6c;
  --button-danger-background-active: #fed576;
  --button-danger-background-disabled: #ff6e6c;
  --button-positive-background: #f89068;
  --button-positive-background-hover: #fa9c3a;
  --button-positive-background-active: #d69170;
  --button-positive-background-disabled: #f89068;
  --button-secondary-background: #725248;
  --button-secondary-background-hover: #3e2f2e;
  --button-secondary-background-active: #3e2f2e;
  --button-secondary-background-disabled: #a38176;
  --button-outline-danger-text: #fff4ee;
  --button-outline-danger-border: #de5152;
  --button-outline-danger-background: transparent;
  --button-outline-danger-background-hover: #ff6e6c;
  --button-outline-danger-text-hover: #1b1310;
  --button-outline-danger-border-hover: #ff6e6c;
  --button-outline-danger-background-active: #de5152;
  --button-outline-danger-text-active: #1b1310;
  --button-outline-danger-border-active: #de5152;
  --button-outline-positive-text: #fff4ee;
  --button-outline-positive-border: #f89068;
  --button-outline-positive-background: transparent;
  --button-outline-positive-background-hover: #f89068;
  --button-outline-positive-text-hover: #1b1310;
  --button-outline-positive-border-hover: #f89068;
  --button-outline-positive-background-active: #fa9c3a;
  --button-outline-positive-text-active: #1b1310;
  --button-outline-positive-border-active: #f89068;
  --button-outline-brand-text: #fff4ee;
  --button-outline-brand-border: #fceed2;
  --button-outline-brand-background: transparent;
  --button-outline-brand-background-hover: #fdb594;
  --button-outline-brand-text-hover: #1b1310;
  --button-outline-brand-border-hover: #fdb594;
  --button-outline-brand-background-active: #fceed2;
  --button-outline-brand-text-active: #1b1310;
  --button-outline-brand-border-active: #fdb594;
  --button-outline-primary-text: #fff4ee;
  --button-outline-primary-border: #725248;
  --button-outline-primary-background: transparent;
  --button-outline-primary-background-hover: #725248;
  --button-outline-primary-text-hover: #1b1310;
  --button-outline-primary-border-hover: #725248;
  --button-outline-primary-background-active: #725248;
  --button-outline-primary-text-active: #1b1310;
  --button-outline-primary-border-active: #725248;
  --modal-background: #1b1310;
  --modal-footer-background: #30201b;
  --scrollbar-thin-thumb: #fceed2;
  --scrollbar-thin-track: transparent;
  --scrollbar-auto-thumb: #fceed2;
  --scrollbar-auto-track: #30201b;
  --scrollbar-auto-scrollbar-color-thumb: #fceed2;
  --scrollbar-auto-scrollbar-color-track: #30201b;
  --input-background: #30201b;
  --input-placeholder-text: #a38176;
  --logo-primary: #fff4ee;
  --control-brand-foreground: #fceed2;
  --control-brand-foreground-new: #fceed2;
  --mention-foreground: #fceed2;
  --mention-background: #442821;
  --background-mentioned: #fede6d19;
  --background-mentioned-hover: #fede6d14;
  --background-message-hover: #150e0c3F;
  --background-message-automod: #f56d880C;
  --background-message-automod-hover: #f56d8819;
  --background-message-highlight: #fceed214;
  --background-message-highlight-hover: #fceed20F;
  --channels-default: #dfbdba;
  --channel-icon: #fceed299;
  --channel-text-area-placeholder: #7252487F;
  --channeltextarea-background: #150e0c;
  --activity-card-background: #30201b;
  --textbox-markdown-syntax: #fff4ee;
  --spoiler-revealed-background: #30201b;
  --spoiler-hidden-background: #b08379;
  --android-navigation-bar-background: #30201b;
  --android-ripple: #160f0d4C;
  --bg-mod-faint: #150e0c;
  --bg-mod-subtle: #442821;
  --focus-primary: #fceed2;
  --interactive-normal: #fff4ee;
  --interactive-muted: #7252484C;
  --interactive-hover: #fff4ee;
  --interactive-active: #fff4ee;
  --search-popout-option-non-text-color: #dfbdba;
  --__spoiler-background-color--hidden: #442821;
  --__spoiler-warning-background-color: #f56d88;
}

div[class*="autocomplete_"] {
    background-color: #150e0c !important;
}

div[class*="autocomplete_"]
div[class*="categoryHeader"] {
    background-color: #150e0c !important;
}

rect[mask="url(#svg-mask-status-online)"] {
    fill: #d69170;
}

rect[mask="url(#svg-mask-status-idle)"] {
    fill: #fede6d;
}

rect[mask="url(#svg-mask-status-dnd)"] {
    fill: #de5152;
}

rect[mask="url(#svg-mask-status-offline)"] {
    fill: #a38176;
}

/* hljs */
/* stolen from https://github.com/x6r/dracula/blob/main/addons/hljs-styling.scss :D */
:root {
  /* ---- Default Colors -- */
  --background: var(--background-secondary);
  --text-default: #dfbdba;
  --color-1: #ff6e6c;
  --color-2: #fa933a;
  --color-3: #fede6d;
  --color-4: #f89068;
  --color-5: #fa9c3a;
  --color-6: #f57080;
  --color-7: #fa9c3a;
  --color-8: #fdaf8b;
  --color-9: #fceed2;
  --color-10: #f56d88;
  --color-11: #fff4ee;
  /* ---- HLJS Default -- */
  --hljs-attribute: var(--color-7);
  --hljs-nomarkup: var(--color-8);
  --hljs-variable: var(--color-11);
  --hljs-meta: var(--color-8);
  --hljs-meta-string: var(--color-4);
  --hljs-meta-keyword: var(--hljs-meta);
  --hljs-literal: var(--color-2);
  --hljs-section: var(--color-9);
  --hljs-number: var(--color-2);
  --hljs-name: var(--color-4);
  --hljs-selector-tag: var(--color-4);
  --hljs-selector-class: var(--color-9);
  --hljs-selector-attr: var(--color-7);
  --hljs-selector-pseudo: var(--color-7);
  --hljs-selector-id: var(--hljs-selector-class);
  --hljs-keyword: var(--color-10);
  --hljs-built_in: var(--color-3);
  --hljs-title: var(--color-9);
  --hljs-link: var(--color-5);
  --hljs-bullet: var(--color-10);
  --hljs-symbol: var(--color-1);
  --hljs-addition: var(--color-1);
  --hljs-deletion: var(--color-5);
  --hljs-attr: var(--color-2);
  --hljs-punctuation: var(--text-default);
  --hljs-regexp: var(--color-6);
  --hljs-type: var(--color-10);
  --hljs-operator: var(--color-10);
  --hljs-rest_arg: var(--text-default);
  --hljs-template-variable: var(--color-11);
  /* ---- HLJS Specific -- */
  /* --> Params */
  --hljs-params: var(--text-default);
  --hljs-params-attr: var(--hljs-params);
  /* --> Comment */
  --hljs-comment: #b08379;
  --hljs-comment-doctag: var(--hljs-comment);
  /* --> String */
  --hljs-string: var(--color-4);
  --hljs-string-subst: var(--color-5);
  --hljs-string-template-variable: var(--color-2);
  /* --> Tag */
  --hljs-tag: var(--color-7);
  --hljs-tag-name: var(--color-10);
  --hljs-tag-attr: var(--color-5);
  /* --> Function */
  --hljs-function: var(--text-default);
  --hljs-function-keyword: var(--hljs-keyword);
  --hljs-function-title: var(--hljs-title);
  --hljs-function-params: var(--hljs-params);
  --hljs-function-literal: var(--hljs-literal);
  --hljs-function-operator: var(--hljs-operator);
  /* --> Class */
  --hljs-class: var(--text-default);
  --hljs-class-keyword: var(--color-6);
  --hljs-class-title: var(--color-7);
}

#app-mount .hljs {
  font-family: "JetBrainsMono Nerd Font", "JetBrains Mono", var(--font-code),
    monospace;
  background: var(--background-secondary);
  color: var(--text-normal);
  padding: 15px 20px;
  border-radius: 5px;
}

#app-mount .codeLine-3a3dbd {
  color: var(--text-default);
}

#app-mount .hljs-comment {
  color: var(--hljs-comment);
}

#app-mount .hljs-attribute {
  color: var(--hljs-attribute);
}

#app-mount .hljs-nomarkup {
  color: var(--hljs-nomarkup);
}

#app-mount .hljs-variable {
  color: var(--hljs-variable);
}

#app-mount .hljs-meta {
  color: var(--hljs-meta);
}

#app-mount .hljs-meta-string {
  color: var(--hljs-meta-string);
}

#app-mount .hljs-meta-keyword {
  color: var(--hljs-meta-keyword);
}

#app-mount .hljs-literal {
  color: var(--hljs-literal);
}

#app-mount .hljs-string {
  color: var(--hljs-string);
}

#app-mount .hljs-section {
  color: var(--hljs-section);
}

#app-mount .hljs-number {
  color: var(--hljs-number);
}

#app-mount .hljs-tag {
  color: var(--hljs-tag);
}

#app-mount .hljs-name {
  color: var(--hljs-name);
}

#app-mount .hljs-selector-tag {
  color: var(--hljs-selector-tag);
}

#app-mount .hljs-selector-class {
  color: var(--hljs-selector-class);
}

#app-mount .hljs-selector-attr {
  color: var(--hljs-selector-attr);
}

#app-mount .hljs-selector-pseudo {
  color: var(--hljs-selector-pseudo);
}

#app-mount :not(.hljs-function) > .hljs-keyword {
  color: var(--color10);
  font-style: italic;
}

#app-mount .hljs-function {
  color: var(--hljs-function);
}

#app-mount .hljs-built_in {
  color: var(--hljsbuilt_in);
}

#app-mount .hljs-title {
  color: var(--hljs-title);
}

#app-mount .hljs-link {
  color: var(--hljs-link);
}

#app-mount .hljs-bullet {
  color: var(--hljs-bullet);
}

#app-mount .hljs-symbol {
  color: var(--hljs-symbol);
}

#app-mount .hljs-addition {
  color: var(--hljs-addition);
}

#app-mount .hljs-deletion {
  color: var(--hljs-deletion);
}

#app-mount .hljs-attr {
  color: var(--hljs-attr);
}

#app-mount .hljs-punctuation {
  color: var(--hljs-punctuation);
}

#app-mount .hljs-regexp {
  color: var(--hljs-regexp);
}

#app-mount .hljs-type {
  color: var(--hljs-type);
}

#app-mount .hljs-selector-id {
  color: var(--hljs-selector-id);
}

#app-mount .hljs-params {
  color: var(--hljs-params);
}

#app-mount .hljs-operator {
  color: var(--hljs-operator);
}

#app-mount .hljs-rest_arg {
  color: var(--hljs-rest_arg);
}

#app-mount .hljs-template-variable {
  color: var(--hljs-template-variable);
}

#app-mount .hljs-comment .hljs-doctag {
  color: var(--hljs-comment-doctag);
}

#app-mount .hljs-params .hljs-attr {
  color: var(--hljs-params-attr);
}

#app-mount .hljs-string .hljs-subst {
  color: var(--hljs-string-subst);
}

#app-mount .hljs-string .hljs-template-variable {
  color: var(--hljs-string-template-variable);
}

#app-mount .hljs-tag .hljs-name {
  color: var(--hljs-tag-name);
}

#app-mount .hljs-tag .hljs-attr {
  color: var(--hljs-tag-attr);
}

#app-mount .hljs-function .hljs-keyword {
  color: var(--hljs-function-keyword);
}

#app-mount .hljs-function .hljs-title {
  color: var(--hljs-function-title);
}

#app-mount .hljs-function .hljs-literal {
  color: var(--hljs-function-literal);
}

#app-mount .hljs-function .hljs-params {
  color: var(--hljs-function-params);
}

#app-mount .hljs-function .hljs-operator {
  color: var(--hljs-function-operator);
}

#app-mount .hljs-class .hljs-keyword {
  color: var(--hljs-class-keyword);
}

#app-mount .hljs-class .hljs-title {
  color: var(--hljs-class-title);
}

/* Haskell Specific Syntax */
#app-mount .hs .hljs-type {
  color: var(--color-7);
}

/* Lua Specific Syntax */
#app-mount .lua .hljs-built_in {
  color: var(--color-7);
}

/* Clang Specific Syntax */
#app-mount .c .hljs-keyword {
  color: var(--color-7);
}
#app-mount .c .hljs-built_in {
  color: var(--color-9);
}
#app-mount .c > .hljs-keyword {
  color: var(--color-10);
}

/* CSS Specific Syntax */
#app-mount .css .hljs-built_in {
  color: var(--color-5);
}

/* Rust Specific Syntax */
#app-mount .rust .hljs-built_in {
  color: var(--color-7);
}

/* PHP Specific Syntax */
#app-mount .php .hljs-variable {
  color: var(--color-10);
}
